.background {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
  }
   
  .img {
    width: 100px;
    margin-top: 100px;
  }

   


  mat-card {
    width: 500px;
}

.full-width-input {
    width: 100%;
}

#login {
    width: 100%;
    background-color:#3d688b;
    color: white;
}
#regis {
    width: 100%;
    background-color:#3d688b;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;

}

.toolbar{
    background-color: #2B6CB0;
    color:white;
}

body {
    background-image: url('/assets/img/wallpaper1.jpg');
}