<body>
		<!-- Header -->
    <header id="header" class="skel-layers-fixed">
      <h1><a href="#">INNOVISIÓN</a></h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Principal</a></li>
          <li><a href="right-sidebar.html">Acerca de nosotros</a></li>
          <li><a href="no-sidebar.html">Tienda</a></li>
          <li><a href="login" class="button special">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h2>INNOVISIÓN</h2>
        <p>La vida es fascinante solo hay que verlas a través de una gafas de <a href="http://templated.co">INNOVISIÓN</a></p>
        <ul class="actions">
          <li><a href="login" class="button big special">Iniciar Sesión</a></li>
          <li><a href="#elements" class="button big alt">Acerca de nosotros</a></li>
        </ul>
      </div>
    </section>
</body>