<h2 class="title ml-4 mb-0">Administrar Tiendas</h2>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">
                        Agregar nuevo usuario:
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStore.name" placeholder="Name" class="form-control mt-1">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStore.direction" placeholder="Direction" class="form-control mt-1">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStore.phone" placeholder="phone:" class="form-control mt-1">
                    </div>
                    <button (click)="addOrEdit()" class="btn btn-success">
                        Submit
                    </button>
                    <button *ngIf="selectedStore.id !== 0"
                     class="btn btn-danger ml-2"
                     (click)="delete()">
                        Delete
                    </button>
                    <button (click)="cleanForm()" class="btn btn-info ml-5">
                        Clean Form
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <ul class="list-group mt-4">
                <li *ngFor="let store of storesArray"
                class="list-group-item list-group-item-action"
                (click)="openForEdit(store)"
                [class.active]="store == selectedStore">
                    <span class="badge badge-primary">{{store.id}}</span> {{store.name}}  - [ {{store.direction}} ] | {{store.phone}}
                </li>
            </ul>
        </div>
    </div>
</div>